

.centralizar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.cabecalho{
    display: block;
    width: 90%;
    margin-bottom: -100px;
}

.navegacao{
    justify-content: space-between;
}

.ulist{
    gap: 30px;
}

.notebook-1st img{
    width: 440px;
    /* background-color: rgba(255, 235, 205, 0.185); */
}

/* # 420 de witfth */
.wrapper{

    display: flex;
    justify-content: space-between;
    width: fit-content;
    /* background-color: rgba(238, 130, 238, 0.185); */
}
@media (max-width: 460px){
    .wrapper{
        display: inline;    
    }
    .wrapper div p{
        margin: 3px;
    }
    .wrapper .preco{
        margin-top: 20px;
    }
}

.wrapper * {
    margin: 0px;
    width: fit-content;
    /* background-color: rgba(194, 223, 35, 0.349); */
}

.pdesc p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    /* background-color: crimson; */
    /* background-color: rgba(255, 228, 196, 0.349); */
}

#produto-notebook-preco {
    text-align: right;
    background-color: rgb(236, 70, 100);
    padding-left: 20px;
    padding-right: 5px;
    /* background-color: rgba(255, 228, 196, 0.349); */
}


.item-notebook{

    background: linear-gradient(
        135deg,
         rgba(0,0,0,0.3) 0%,
         rgba(0,0,0,0.3) 7%,
         rgba(255,255,255,0.2) 75%,
         rgba(255,255,255,0.2) 85%,
         rgba(255,255,255,0.2) 85%,
         rgba(255,255,255,0.99) 100%);
}

@media (min-width: 992px){

    

    .notebook-capa-e-textos{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #produto-notebook-imagem-url{
        width: 360px;
    }
    
}

.preco{
    padding-left: 20px;
}

